.home-window {
  position: relative;
  height: 100vh;  /* full screen height */
  overflow-y: auto;
  scroll-behavior: smooth;
}


.scroll-indicator {
  position: fixed;  /* stays pinned */
  right: 3.5%;
  top: 10vh;
  height: 70vh;
  width: 16px;
  z-index: 1000;
  display: flex;
  justify-content: center;
}
